.input-fields-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 4px;
  }

.appointment-history-field{
    margin:10px;
}

.appointment-history-button{
    margin:10px;
}