.appointment-refunds-component{
    max-height: 720px;
    overflow: auto;
}

.search-input-field{
    font-size: 14px;
    width: 100%;
  }

  .accept-btn{
    color: green;
    background: white;
  }

