.appointment-transactions{
    overflow:auto;
    max-height: 720px;
}

.app-count{
    height: 80px;
    width:200px;
    margin: 10px;
    background:#4CAF50;
    color:white;
    font-weight: bold;
}

.card-text{
    font-size: 40px
}


.app-length{
    height: 80px;
    width:200px
}

.export-btns{
    margin: 10px;
}

td,th {
    text-align: center !important;
    vertical-align: middle !important;
}

th.mat-header-cell {
    text-align: center !important;
  }

.filter-form-field {
    font-size: 14px;
    width: 100%;
}