// .appointment-transactions{
//     height: 10000px;
//     overflow:auto;
// }

.app-length{
    height: 80px;
    width:200px
}

.export-btns{
    margin: 10px;
}

td,th {
    text-align: center !important;
    vertical-align: middle !important;
}

th.mat-header-cell {
    text-align: center !important;
  }