// .appointment-transactions{
//     height: 10000px;
//     overflow:auto;
// }

.app-length{
    height: 60px;
    width:80px
}

.export-btns{
    margin: 10px;
}

td, th {
    text-align: center !important;
    vertical-align: middle !important;
}
