<mat-toolbar mat-dialog-title color="accent">
  <span>Add New Doctor:</span>
</mat-toolbar>

<mat-dialog-content class="add-user-form">
  <br>
  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" class="add-clinic">
    <mat-stepper #stepper >

        <!-- Personal details step -->
       <mat-step label="User Details">
        <h4>
          Name
        </h4>
        <div class="user-details-step">
          <!-- <mat-form-field class="add-user-field">
            <mat-label>Clinic Name</mat-label>
            <input type="text" matInput placeholder="ABC Animal Clinic" [(ngModel)]="doctor.clinic" name="name" value="{{doctor.clinic}}">
          </mat-form-field> -->
          <mat-form-field class="add-user-field">
            <mat-label>Name</mat-label>
            <input type="text" matInput placeholder="ABC Animal Clinic" [(ngModel)]="doctor.name" name="name" value="{{doctor.name}}">
          </mat-form-field>
          <mat-form-field class="add-user-field">
            <mat-label>Clinic</mat-label>
            <mat-select [(ngModel)]="doctor.clinic" name="clinic">
              <mat-option *ngFor="let vetclinic of this.clinicList" [value]="vetclinic.id" >
                 {{vetclinic.name}},{{vetclinic.city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <h4>
          Address
        </h4>
        <div class="user-details-step">
          <mat-form-field class="add-user-field">
            <mat-label>Address</mat-label>
            <input type="text" matInput placeholder="123" [(ngModel)]="doctor.address" name="address" value="{{doctor.address}}">
          </mat-form-field>
          <!-- <mat-form-field class="add-clinic-field">
            <mat-label>Street</mat-label>
            <input type="text" matInput placeholder="Highlevel Rd" name="address_ln2">
          </mat-form-field> -->
          <mat-form-field class="add-user-field">
            <mat-label>City</mat-label>
            <input type="text" matInput placeholder="Nugegoda" [(ngModel)]="doctor.city" name="city" value="{{doctor.city}}">
          </mat-form-field>
          <br>
        </div>
       
       </mat-step>
    
       <!-- Contact details step -->
       <mat-step label="Contact Details">
        <h4>
          Contact Details
        </h4>
        <div class="contact-details-step">
          <mat-form-field class="add-user-field">
            <mat-label>Mobile Number</mat-label>
            <input type="tel" matInput placeholder="0711234567" [(ngModel)]="doctor.mobile" name="mobile" value="{{doctor.mobile}}">
          </mat-form-field>
          <mat-form-field class="add-user-field">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="abc@gmail.com" [(ngModel)]="doctor.email" name="email" value="{{doctor.email}}">
          </mat-form-field>
          <mat-form-field class="add-user-field">
            <mat-label>Website</mat-label>
            <input type="text" matInput placeholder="www.abcanimalclinic.com" [(ngModel)]="doctor.website" name="website" value="{{doctor.website}}">
          </mat-form-field>
          <!-- <mat-form-field class="add-clinic-field">
            <mat-label>Active Status</mat-label>
            <input type="text" matInput [(ngModel)]="doctor.active" name="active" value=0>
          </mat-form-field> -->
          <br>
        </div>
       </mat-step>

       <!-- Chanelling details step -->
       <!-- <mat-step label="Chanelling Details">
        <h4>Select chanelling types:</h4>
        <p><mat-checkbox [(ngModel)]="doctor.support_direct_visit">Support Direct Visit</mat-checkbox></p>
        <p><mat-checkbox [(ngModel)]="doctor.support_home_visit">Support Home Visit</mat-checkbox></p>
        <p><mat-checkbox [(ngModel)]="doctor.support_virtual_visit">Support Telemedicine</mat-checkbox></p>
      </mat-step> -->

       <!-- Doctor service charges step -->
       <mat-step label="Doctor Service Charges">
        <div class="doctor-service-charges-step">
          <mat-form-field class="add-user-field">
            <mat-label>Direct Visit Service Charge (LKR)</mat-label>
            <input type="text" matInput placeholder="1000" [(ngModel)]="doctor.direct_visit_service_charge" name="direct_visit_service_charge" value="{{doctor.direct_visit_service_charge}}">
          </mat-form-field>
          <mat-form-field class="add-user-field">
            <mat-label>Home Visit Service Charge (LKR)</mat-label>
            <input type="text" matInput placeholder="1000" [(ngModel)]="doctor.home_visit_service_charge" name="home_visit_service_charge" value="{{doctor.home_visit_service_charge}}">
          </mat-form-field>
          <mat-form-field class="add-user-field">
            <mat-label>Virtual Visit Service Charge (LKR)</mat-label>
            <input type="text" matInput placeholder="1000" [(ngModel)]="doctor.virtual_visit_service_charge" name="virtual_visit_service_charge" value="{{doctor.virtual_visit_service_charge}}">
          </mat-form-field>
        </div>
      </mat-step>
    
      </mat-stepper>

</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeAll()">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>

