// .add-user-form{
//     width: 600px;
// }
.user-details-step{
    display: grid;
    grid-template-columns: auto auto ;
}

.doctor-service-charges-step{
    display: grid;
    grid-template-columns: auto auto ;
}

.contact-details-step{
    display: grid;
    grid-template-columns: auto auto;
}

.chanelling-details-step{
    display: grid;
    grid-template-columns: auto auto auto;
}

.doctor-appointment-settings-step{
    display: grid;
    grid-template-columns: auto auto ;
}

.appointment-settings-cards{
    margin:10px; 
}

.add-user-field{
    margin:10px;
}

.register-btn{
    margin:10px;
    width:200px;
}

.add-user-hidden-field{
    display: none;
}