<mat-toolbar mat-dialog-title color="accent">
  <span>Add New Doctor:</span>
</mat-toolbar>

<mat-dialog-content class="add-user-form">
  <br>
  <form #form="ngForm" class="add-clinic">
    <mat-stepper #stepper >

        <!-- Personal details step -->
       <mat-step label="User Details">
        <h4>
          Name
        </h4>
        <div class="user-details-step">
          <!-- <mat-form-field class="add-user-field">
            <mat-label>Clinic Name</mat-label>
            <input type="text" matInput placeholder="ABC Animal Clinic" [(ngModel)]="doctor.clinic" name="name" value="{{doctor.clinic}}">
          </mat-form-field> -->
          <mat-form-field class="add-user-field">
            <mat-label>Name*</mat-label>
            <input type="text" matInput placeholder="John Doe" [(ngModel)]="doctor.name" name="name" value="{{doctor.name}}">
          </mat-form-field>
          <mat-form-field class="add-user-field">
            <mat-label>Clinic*</mat-label>
            <mat-select [(ngModel)]="doctor.clinic" name="clinic">
              <mat-option *ngFor="let vetclinic of this.clinicList" [value]="vetclinic.id" >
                 {{vetclinic.name}},{{vetclinic.city}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <mat-form-field class="add-user-field">
            <mat-label>Clinic ID</mat-label>
            <mat-select [(ngModel)]="doctor.clinic" name="clinic">
              <mat-option *ngFor="let vetclinic of this.clinicList" [value]="vetclinic.id" >
                 {{vetclinic.id}},{{vetclinic.city}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
        </div>
        <h4>
          Address
        </h4>
        <div class="user-details-step">
          <mat-form-field class="add-user-field">
            <mat-label>Address</mat-label>
            <input type="text" matInput placeholder="123" [(ngModel)]="doctor.address" name="address" value="{{doctor.address}}">
          </mat-form-field>
          <!-- <mat-form-field class="add-clinic-field">
            <mat-label>Street</mat-label>
            <input type="text" matInput placeholder="Highlevel Rd" name="address_ln2">
          </mat-form-field> -->
          <mat-form-field class="add-user-field">
            <mat-label>City*</mat-label>
            <input type="text" matInput placeholder="Nugegoda" [(ngModel)]="doctor.city" name="city" value="{{doctor.city}}">
          </mat-form-field>
          <br>
        </div>
       
       </mat-step>
    
       <!-- Contact details step -->
       <mat-step label="Contact Details">
        <h4>
          Contact Details
        </h4>
        <div class="contact-details-step">
          <mat-form-field class="add-user-field">
            <mat-label>Mobile Number*</mat-label>
            <input type="tel" matInput [minlength]="10" [maxlength]="10" placeholder="0711234567" [(ngModel)]="doctor.mobile" name="mobile" value="{{doctor.mobile}}" (ngModelChange)="searchMobile($event)">
          </mat-form-field>
          <button mat-raised-button disabled="{{this.btndisabled}}" color="primary" class="register-btn" (click)="addUserAccess()">Register Mobile</button>
          <mat-form-field class="add-user-field">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="abc@gmail.com" [(ngModel)]="doctor.email" name="email" value="{{doctor.email}}">
          </mat-form-field>
          <mat-form-field class="add-user-field">
            <mat-label>Website</mat-label>
            <input type="text" matInput placeholder="www.abcanimalclinic.com" [(ngModel)]="doctor.website" name="website" value="{{doctor.website}}">
          </mat-form-field>
          <!-- <mat-form-field class="add-user-hidden-field">
            <mat-label>Active Status</mat-label>
            <input type="text" matInput [(ngModel)]="doctor.search_list" name="search_list" [value]="this.doctor.name">
          </mat-form-field> -->
          <br>
        </div>
       </mat-step>

       <!-- Chanelling details step -->
       <mat-step label="Chanelling Details">
        <h4>Select chanelling types:</h4>
        <div class="chanelling-details-step">
          
          <mat-form-field class="add-user-field">
            <mat-label>Support Direct Visit</mat-label>
            <mat-select [(ngModel)]="doctor.support_direct_visit" name="support_direct_visit">
              <mat-option [value]=0>
                 Yes
              </mat-option>
              <mat-option [value]=1>
                No
             </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="add-user-field">
            <mat-label>Support Home Visit</mat-label>
            <mat-select [(ngModel)]="doctor.support_direct_visit" name="support_home_visit">
              <mat-option [value]=0>
                 Yes
              </mat-option>
              <mat-option [value]=1>
                No
             </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="add-user-field">
            <mat-label>Support Virtual Visit</mat-label>
            <mat-select [(ngModel)]="doctor.support_virtual_visit" name="support_virtual_visit">
              <mat-option [value]=0>
                 Yes
              </mat-option>
              <mat-option [value]=1>
                No
             </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="add-user-field">
            <mat-label>Is SMS Based</mat-label>
            <mat-select [(ngModel)]="doctor.is_sms" name="is_sms">
              <mat-option [value]=0>
                 No
              </mat-option>
              <mat-option [value]=1>
                Yes
             </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="add-user-field">
            <mat-label>SLVA No.*</mat-label>
            <input type="text" matInput placeholder="123456" [(ngModel)]="doctor.slva_reg_no" name="website" value="{{doctor.slva_reg_no}}">
          </mat-form-field>
        </div>
      </mat-step>

       <!-- Doctor service charges step -->
       <mat-step label="Doctor Service Charges">
        <div class="doctor-service-charges-step">
          <mat-form-field class="add-user-field">
            <mat-label>Direct Visit Service Charge (LKR)</mat-label>
            <input type="text" matInput placeholder="1000" [(ngModel)]="doctor.direct_visit_service_charge" name="direct_visit_service_charge" value="{{doctor.direct_visit_service_charge}}">
          </mat-form-field>
          <mat-form-field class="add-user-field">
            <mat-label>Home Visit Service Charge (LKR)</mat-label>
            <input type="text" matInput placeholder="1000" [(ngModel)]="doctor.home_visit_service_charge" name="home_visit_service_charge" value="{{doctor.home_visit_service_charge}}">
          </mat-form-field>
          <mat-form-field class="add-user-field">
            <mat-label>Virtual Visit Service Charge (LKR)</mat-label>
            <input type="text" matInput placeholder="1000" [(ngModel)]="doctor.virtual_visit_service_charge" name="virtual_visit_service_charge" value="{{doctor.virtual_visit_service_charge}}">
          </mat-form-field>
        </div>
      </mat-step>

      <!-- Appointment settings step -->
      <mat-step label="Doctor Appointment Settings">
        <h4>*Use 24 hr time format</h4>
        <div class="doctor-appointment-settings-step">
          <mat-card class="appointment-settings-cards">
            <mat-card-content>

              <div class="add-user-field">
                <h4>Morning Session Start time</h4>
                <mat-form-field>
                  <input matInput
                         name="start_time_am"
                         [format]="24"
                         [(ngModel)]="appointmentSettings.start_time_am"
                         [ngxMatTimepicker]="pickerA"
                         placeholder="08:00"
                         readonly />
                  <mat-icon matSuffix
                            (click)="pickerA.open()">
                      watch_later
                  </mat-icon>
                </mat-form-field>
              <ngx-mat-timepicker color="accent" #pickerA [defaultTime]="'08:00'"></ngx-mat-timepicker>
              </div>

              <div class="add-user-field">
                <h4>Morning Session End time</h4>
                <mat-form-field>
                  <input matInput
                         name="end_time_am"
                         [format]="24"
                         [(ngModel)]="appointmentSettings.end_time_am"
                         [ngxMatTimepicker]="pickerB"
                         placeholder="10:00"
                         readonly />
                  <mat-icon matSuffix
                            (click)="pickerB.open()">
                      watch_later
                  </mat-icon>
                </mat-form-field>
                <ngx-mat-timepicker color="accent" #pickerB [defaultTime]="'10:00'"></ngx-mat-timepicker>
              </div>

            </mat-card-content>
          </mat-card>

          <mat-card class="appointment-settings-cards">
            <mat-card-content>
              
              <div class="add-user-field">
                <h4>Evening Session Start time</h4>
                <mat-form-field>
                  <input matInput
                         name="start_time_pm"
                         [format]="24"
                         [(ngModel)]="appointmentSettings.start_time_pm"
                         [ngxMatTimepicker]="pickerC"
                         placeholder="16:00"
                         readonly />
                  <mat-icon matSuffix
                            (click)="pickerC.open()">
                      watch_later
                  </mat-icon>
                </mat-form-field>
              <ngx-mat-timepicker color="accent" #pickerC [defaultTime]="'16:00'"></ngx-mat-timepicker>
              </div>

              <div class="add-user-field">
                <h4>Evening Session End time</h4>
                <mat-form-field>
                  <input matInput
                         name="end_time_pm"
                         [format]="24"
                         [(ngModel)]="appointmentSettings.end_time_pm"
                         [ngxMatTimepicker]="pickerD"
                         placeholder="18:00"
                         readonly />
                  <mat-icon matSuffix
                            (click)="pickerD.open()">
                      watch_later
                  </mat-icon>
                </mat-form-field>
                <ngx-mat-timepicker color="accent" #pickerD [defaultTime]="'18:00'"></ngx-mat-timepicker>
              </div>

            </mat-card-content>
          </mat-card>
        </div>
      </mat-step>
    
      </mat-stepper>

</form>
<div class="overlay-wrapper">
  <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Cancel</button>
  <button mat-button cdkFocusInitial (click)="onSubmit()">Save</button>
</mat-dialog-actions>

