<mat-toolbar mat-dialog-title color="accent">
  <span>Add New User:</span>
</mat-toolbar>
<mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" class="add-clinic">

    <mat-stepper #stepper>

        <!-- Personal details step -->
       <mat-step label="User Details">
        <h4>
          Name
        </h4>
        <mat-form-field class="add-clinic-field">
          <mat-label>Clinic Name</mat-label>
          <input type="text" matInput placeholder="ABC Animal Clinic" [(ngModel)]="clinic.name" name="name" value="{{clinic.name}}">
        </mat-form-field>
        <br>
        <h4>
          Address
        </h4>
        <mat-form-field class="add-clinic-field">
          <mat-label>Address</mat-label>
          <input type="text" matInput placeholder="123" [(ngModel)]="clinic.address" name="address" value="{{clinic.address}}">
        </mat-form-field>
        <!-- <mat-form-field class="add-clinic-field">
          <mat-label>Street</mat-label>
          <input type="text" matInput placeholder="Highlevel Rd" name="address_ln2">
        </mat-form-field> -->
        <mat-form-field class="add-clinic-field">
          <mat-label>City</mat-label>
          <input type="text" matInput placeholder="Nugegoda" [(ngModel)]="clinic.city" name="city" value="{{clinic.city}}">
        </mat-form-field>
        <br>
       
       </mat-step>
    
       <!-- Contact details step -->
       <mat-step label="Contact Details">
        <h4>
          Contact Details
        </h4>
        <mat-form-field class="add-clinic-field">
          <mat-label>Mobile Number</mat-label>
          <input type="tel" matInput placeholder="0711234567" [(ngModel)]="clinic.mobile" name="mobile" value="{{clinic.mobile}}">
        </mat-form-field>
        <mat-form-field class="add-clinic-field">
          <mat-label>Website</mat-label>
          <input type="text" matInput placeholder="www.abcanimalclinic.com" [(ngModel)]="clinic.website" name="website" value="{{clinic.website}}">
        </mat-form-field>
        <br>
        <mat-form-field class="add-clinic-field">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="abc@gmail.com" [(ngModel)]="clinic.email" name="email" value="{{clinic.email}}">
        </mat-form-field>
        <mat-form-field class="add-clinic-field">
          <mat-label>Active Status</mat-label>
          <input type="text" matInput [(ngModel)]="clinic.active" name="active" value=0>
        </mat-form-field>
        <br>
       </mat-step>
    
      </mat-stepper>

</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="closeAll()">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>

