.clinic-title{
    color: black;
    
}
// .clinic-users-component{
//     overflow: scroll;
//     height:2000px
// }

td.mat-cell, th.mat-header-cell {
    text-align: center;
    justify-content:center;
}

