.appointment-transactions{
    overflow:auto;
}

.filter-form-field {
    font-size: 14px;
    width: 100%;
  } 

.download-pdf-btn{
    margin:8px;
}

.download-excel-btn{
    margin: 8px;
    background: #4CAF50;
    color: #FFFFFF;
}