<div class="appointment-transactions">
  <!-- <button mat-raised-button color="accent" (click)="uploadSettlements()">
    <mat-icon>upload_file</mat-icon>
    Upload Completed Settlements</button>
  <br><br>
    <mat-card>
        <mat-card-content>
         
    <div class="input-fields-container">

          <mat-form-field appearance="fill" class="appointment-history-field">
            <mat-label>Choose a starting date</mat-label>
            <input matInput  [matDatepicker]="picker" [(ngModel)]="this.startDate" name="start_date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="appointment-history-field">
            <mat-label>Choose an end date</mat-label>
            <input matInput [min]="minDate2" [matDatepicker]="picker1" [(ngModel)]="this.endDate" name="end_id">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
    </div>
      <button mat-raised-button (click)="getAppointmentHistory(this.startDate,this.endDate)" color="primary" class="appointment-history-button">
            <mat-icon>history</mat-icon>
        View Appointments 
    </button>
      <button mat-raised-button (click)="resetForm()" color="warn">Reset</button>
        </mat-card-content>
    </mat-card>
      <br> -->


    <!-- <mat-selection-list #clinicList>
      <mat-list-option *ngFor="let clinic of this.clinics">
        <span matListItemTitle>{{clinic.name}}</span>
        <span matListItemLine> {{clinic.name}}</span>
      </mat-list-option>
    </mat-selection-list> 
    <p>
      Options selected: {{clinicList.selectedOptions.selected.length}
    </p> -->

    <p *ngFor="let clinic of this.clinics"><mat-checkbox></mat-checkbox>{{clinic.address}}:{{clinic.name}}</p>

</div>


