.clinic-settlements{
    max-height: 640px;
    overflow:auto;
}
// td, th {
//     text-align: center !important;
//     vertical-align: middle !important;
// }

// .input-fields-container{
//     display: grid;
//     grid-template-columns: auto auto;
//     padding: 4px;
//   }

// .appointment-history-field{
//     margin:10px;
// }

// .appointment-history-button{
//     margin:10px;
// }


// th.mat-header-cell {
//     text-align: center !important;
//   }

table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .info-button{
    color: green;
  }
 
  