.payment-history-field{
    margin:10px;
}

.no-payments{
    margin: 10px; 
}

.no-payments-content{
    align-content: center;
    text-decoration:double;
}

.payment-history-button{
    margin:10px;
}

.length-card{
    width:200px;
    height:80px;
}