.petowners-component{
    max-height: 640px;
    overflow:auto;
}

.cards{
    display: grid;
    grid-template-columns: auto auto;
}

.customers-count{
    height: 80px;
    width:200px;
    margin: 10px;
    background:#607D8B;
    color:white;
    font-weight: bold;
}

.active-customers-count{
    height: 80px;
    width:200px;
    margin: 10px;
    background: #673AB7;
    color:white;
    font-weight: bold;
}

.card-text{
    font-size: 40px
}

// td, th {
//     text-align: center !important;
//     vertical-align: middle !important;
// }

// th {
//     text-align: center !important;
//     vertical-align: middle !important;
// }
.search-input-field{
    font-size: 14px;
    width: 100%;
  }

