
<!-- Clnics and veterinarians page -->
<div>
    <!-- <br>
    <button mat-raised-button color="primary" (click)="addClinic()"><mat-icon>add_circle</mat-icon>Add New Clinic</button>
    <br><br> -->
    <div class="card">
      <mat-card>
        <mat-card-content>
     <div class="stat-cards-container">
      <mat-card class="clinics-count">
        <mat-card-content><p>
         Onboarded Clinics Count:
        </p>
          <p class="card-text">
            {{this.clinicList.length}}
          </p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="active-clinics-count">
        <mat-card-content><p>
         Active Clinics Count:
        </p>
        <p class="card-text">
          {{this.activeClinics}}
        </p>
        </mat-card-content>
      </mat-card>
     </div>
    </mat-card-content>
  </mat-card>
    </div>
    <mat-divider></mat-divider>
    <br>
      <button mat-raised-button [matMenuTriggerFor]="menu" color="accent">
        <mat-icon>add_circle</mat-icon>
    Add New Clinic User
  </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openAddUser()">
        <mat-icon>medication</mat-icon>
        <span>Doctor</span>
      </button>
      <button mat-menu-item>
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Administrator</span>
      </button>
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Staff</span>
      </button>
    </mat-menu>
  <br><br>
    
     
    <mat-form-field class="search-input-field">
      <mat-label>Search Clinics</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ABC Clinic" #input>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    
     <!-- Clinic table starts here -->
    <div class="clinics-component">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" id="content">
  
        <ng-container matColumnDef="logo">
          <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let clinic"> 
            <div class="img-logo">
              <img src={{clinic.logo}}>
            </div>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="clinicID">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Clinic ID </th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="clinicName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Clinic Name </th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="address">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.address}} </td>
        </ng-container>
    
        <ng-container matColumnDef="city">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>City</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.city}} </td>
        </ng-container>
    
        <ng-container matColumnDef="businessReg">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Business Registration No.</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.br_no}} </td>
        </ng-container>
    
        <!-- <ng-container matColumnDef="slvaNum">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>SLVA No.</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.slva_no}} </td>
        </ng-container> -->
    
        <ng-container matColumnDef="contactPerson">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Contact Person</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.contact_person}} </td>
        </ng-container>
    
        <ng-container matColumnDef="landline">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Landline</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.landline}} </td>
        </ng-container>
    
        <ng-container matColumnDef="mobile">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Mobile</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.mobile}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.email}} </td>
        </ng-container>
    
        <ng-container matColumnDef="website">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Website</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.website}} </td>
        </ng-container>
    
        <ng-container matColumnDef="accHolder">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Bank Account Holder</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.bank_acc_holder}} </td>
        </ng-container>
    
        <ng-container matColumnDef="bankName">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Bank Name</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.bank_name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="accNo">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Account Number</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.bank_acc_no}} </td>
        </ng-container>
    
        <ng-container matColumnDef="branch">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Branch</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.bank_branch}} </td>
        </ng-container>
    
        <ng-container matColumnDef="branchCode">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Branch Code</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.bank_branch_code}} </td>
        </ng-container>
  
        <ng-container matColumnDef="onboarded_by">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Onboarded By</th>
          <td mat-cell *matCellDef="let clinic"> {{clinic.sale}} </td>
        </ng-container>
    
        <ng-container matColumnDef="active">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Active Status</th>
          <td mat-cell *matCellDef="let clinic">  
            <mat-slide-toggle class="example-margin" color="primary" *ngIf="clinic.active==0" checked="true">
        </mat-slide-toggle>
        <mat-slide-toggle class="example-margin" color="primary" *ngIf="clinic.active==2" checked="false">
        </mat-slide-toggle>
      </td>
        </ng-container>
    
        <ng-container matColumnDef="info">
          <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let clinic"> 
            <button mat-icon-button class="info-button" (click)="moreInfo(clinic.id,clinic.name)">
              <mat-icon>info</mat-icon>
            </button>  
          </td>
        </ng-container>
    
        <ng-container matColumnDef="edit">
          <th mat-header-cell mat-sort-header *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let clinic"> 
            <button mat-icon-button class="edit-button" (click)="editClinic(clinic)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>  
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
         <!-- Row shown when there is no matching data. -->
         <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
  
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons="true"></mat-paginator>
    </div>

  </div>
  
  <!-- Doctors and Institutes Tabs -->
  <!-- <mat-tab-group>
      <mat-tab label="Veterinarians"><app-veterinarians></app-veterinarians></mat-tab>
      <mat-tab label="Institutes"><app-institutes></app-institutes></mat-tab>
    </mat-tab-group> -->
  
  <!-- </div> -->
  
     