<mat-toolbar color="accent">Update Completed Settlements</mat-toolbar>
<mat-dialog-content>

<div class="overlay-wrapper">
  <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
</div>

    <h2>Are you sure you want to update the selected settlements?</h2>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">CANCEL</button>
    <button mat-button [mat-dialog-close]="true" (click)="onUpdate()">OK</button>
</mat-dialog-actions>

